.main-container {
    display: flex;
    flex-direction: row;
}

.card-container {
    border: solid red 3px;
    width: 100px;
    height: 100px;
    margin: 10px;
}

#modal-box {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#user-input {
    display: flex;
    flex-direction: column;
}

input {
    width: 250px;
}

#input-submit {
    width: 250px;
}